* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0f241c;
  color: #fff;
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

main {
  max-width: 960px;
  margin: 96px auto;
}

form {
  max-width: 448px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px 0;
}

input {
  background: #2b5f4d;
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: #e9fff6;
  font-size: 20px;
  font-weight: 400;
}

.input-error {
  margin-top: 0;
  color: #9c9a9a;
  font-size: small;
}

.btn-success {
  border: none;
  border-radius: 8px;
  background: #009963;
  padding: 12px;
  display: block;
  width: 100%;
  color: #fff;
  height: 56px;
  font-size: 20px;
}

.hidden {
  display: none;
}

#success {
  background-color: #214a3d;
  color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

.highlight {
  color: #009963;
  font-weight: bold;
}
